стены[[:space:]]без[[:space:]]дыр.png filter=lfs diff=lfs merge=lfs -text
стены.png filter=lfs diff=lfs merge=lfs -text
стены[[:space:]]без[[:space:]]дыр[[:space:]](1).png filter=lfs diff=lfs merge=lfs -text
